<!--master.html-->
<div attr="data.main.attributes"
     ko-style="data.main.style"
     css="data.main.css"
     data-mage-init='{"accordion":{
        "openedState": "active",
        "collapsible": true,
        "active": false,
        "multipleCollapsible": true
    }}'
>
    <div class="post-content" data-role="collapsible">
        <h3 attr="data.intro.attributes"
            data-role="trigger"
            html="data.intro.html"></h3>
    </div>
</div>
