<!-- preview.html -->
<div attr="data.main.attributes"
     ko-style="data.main.style"
     css="data.main.css"
     event="{ mouseover: onMouseOver, mouseout: onMouseOut }, mouseoverBubble: false"
>
    <render args="getOptions().template" />
    <div class="post-content">
        <div attr="data.intro.attributes"
             data-bind="liveEdit: { field: 'intro', placeholder: $t('intro') }">
        </div>
    </div>
</div>
